doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title My Awesome Website
    link(rel="stylesheet" href="css/style.css")
  body
    h1 Hello Pug and SCSS!
    p This is a sample page.

    // Example of using an icon from the SVG sprite:
    // Replace 'icon-demo' with the ID of the icon you want to use.
    // The ID is typically the filename of the original SVG without the .svg extension.
    svg.icon.icon-demo(width="24" height="24") // Adjust width/height as needed, or style with CSS
      use(xlink:href="images/sprites/sprite.svg#icon-demo")

