doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title My Awesome Website
    link(rel="stylesheet" href="css/style.css")
  body
    h1 Hello Pug and SCSS!
    p This is a sample page.
    img(src="./icons/icon-demo.svg", alt="", srcset="")